/*#octagon {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
}

#octagon:before {
  content: "";
  width: 100px;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 29px solid red;
  border-left: 29px solid #eee;
  border-right: 29px solid #eee;
}

#octagon:after {
  content: "";
  width: 100px;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 29px solid red;
  border-left: 29px solid #eee;
  border-right: 29px solid #eee;
}
*/


@font-face{
	font-family: atmospheric;
	src: url(font\\aAtmospheric.ttf) ;
	src: url(font\\aAtmospheric.otf);
}

/*-----------------------------------------------------*/

/*Generales*/

head{
	display: block;
}

body{
	background:#000E3F;
	margin: 0px;
}

ul{
	padding: 0px;
	text-align: center;
}

nav {
	background-color: #000C23;
	width: 100%;
	top: 0;
	position: fixed;
	z-index: 999;
	border-bottom: skyblue solid 1px;
	box-shadow: 0px -10px 28px skyblue;
}

footer{
	background-color: #000c23;
	margin-top: 0;
	height: 12vh;
	width: 100%;
	bottom: 0;
	box-shadow: 0px -5px 15px skyblue;
}

p{
	color: white;
	font-family: calibri;
	font-size: 1.3em;
}

a{
	text-decoration: none;
}

h3{
	font-family: calibri;
	font-style: normal;
	color: white;
	font-size: 1.8em;
	text-decoration: none;
	text-align: center;
}

h2{
	font-family: atmospheric;
	font-style: normal;
	color: white;
	text-decoration: none;
}

/*-----------------------------------------------------*/


/*-----------------------------------------------------*/



/*Espesifico*/

	/*START Nav*/

.navegador{
	font-family: atmospheric;
	list-style-type: none;
	height: 100%;
  width: 100%;
  margin: 0;
}

.navegador li {
	float: left;
	width: 16.4%;
	height: 100%;
}

.aNav{
	margin-top: 10.5%;
	display: block;
	color: white;
	text-decoration: none;
	font-size: 100%;
	padding-bottom: 5%;
	border-bottom: 2px solid white;
	border-top: 2px solid	white;
	padding-top: 6%;
}

.navegador li a:hover{
	color: skyblue;
	border-bottom: 3px solid white;
	font-size: 120%;
	box-shadow: 0px 1px 15px skyblue;
}

.navegador li a.logoNav{
	border: none;
	box-shadow: none;
	font-size: 100%;
}

.imgLogo{
	width: 83%;
	margin-top: 5.9%;
	margin-bottom: 5%;
}

/*END Nav*/

/*-----------------------------------------------------*/

/*START Footer*/

.imgFooter{
	width: 10%;
}

.imgFooter:hover{
	transform:scale(1.5);
	transition-duration: 0.2s;
}

.liFooter{
	float: left;
	width: 25%;
	margin-top: 1.5%;
}

/*FIN Footer*/

/*-----------------------------------------------------*/

.contenedor{
	margin-top: 12vh;
	margin-right: 8%;
	margin-left: 8%;
	background-color: #000e3f;
	padding:10px ;
  	min-height: 75vh;

}

.contenedor h1 {
	color: white;
	font-family: calibri;
	text-align: center;
	padding-left:10%;
	padding-right:10%;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 3em;
	line-height: 150%;
}

.proyectos{
	text-align:center	;
	height: auto;
	padding: 30px;
	background-color: #000c23;
	border-radius: 10px;
	margin: 2%;    
	box-shadow: 0px 0px 10px skyblue
}

.proyectos h2{
	font-family: atmospheric;
	font-style: normal;
	color: white;
	text-decoration: none;
	font-size: 100%;
}

.contenedor article{
	height: auto;
	padding: 2% 0 5% 0;

}

.descripcion{
	text-align: justify;
	margin: 3% 3% 3% 3%;

}
.descripcion a {
	color: yellow;
}

.proyectos img{
	width: 60%;
}

.proyectos img:hover{
	transform:scale(0.8);
	transition-duration: 0.4s;
}

.descarga img{
	word-break: 350px;
	max-width: 100%;
}
.descarga img:hover{
	transform:scale(1.05);
	transition-duration: 0.4s;
	filter: saturate(300%);
}

.imgArticle{
	overflow: hidden;
}

.imgArticle img{
	width: 60%;
}

.imgArticle img:hover{
	transform: scale(1.2);
	transition-duration: 0.5s;
}

.etiquetas{
	text-align: initial;
	margin: 10% 5% 10% 5%;
}

.imgProyecto{
	width: 50%;
}


.articulo{
  text-align: center;
  height: auto;
  padding: 30px;
  background-color: #000c23;
  border-radius: 10px;
  margin: 2%;
  box-shadow: 0px 0px 10px skyblue
}

.listProyectos{
	background-color:#011439 ;
	border: outset;
	border-radius: 2%;
}

.listProyectos:hover{
	background-color:black ;
	border: groove;
	transform: scale(1.03);
}

aside{
	background-color: green;
}
#menu-icon{
	display: none;
}

.menu-img{
	display: none;
}

.smHeader{
	position:absolute;
	width: 100%;
	top: 0;
	background-color:#000c23;
	height:11vh;
}

.smHeaderImg{
	width:25%;
	margin:15px 0 0 100px;
	display: none;
}

@media screen and (max-width:900px){

	.smHeader{
		height:11vh;
		border-bottom: 1px solid white;
		box-shadow:0px 0px 15px white;
		position: fixed;
	}
	.smHeaderImg{
		display: inline;
	}
	.navegador li{
		float: none;
		width: 100%;
		background-color: #0a0a40;
	}
	.contenedor{
		margin:0;
		margin-top: 9vh;
	}
	.logoNav{
		display: none;
	}

	nav{
		transform: translate(100%);
		transition-duration: 0.2s;
		top: 8vh;
		box-shadow: none;
		margin-top: 25px;
	}

	.aNav{
		margin: 0;
		border:1px solid white;
	}
	.imgLogo{
		width: 25%;
	}
	.menu-img{
		display: block;
		width: 10%;
		float: right;
		margin: 10px 40px 0px 15px;
	}

	#menu-icon:checked ~ nav{
			transform: translate(0%);
			transition-duration: 0.4s;
		}

}
